<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/2c2fea91-aa1e-46da-a815-0ccb9c9e1f59/resourceGroups/BrokerGroup/providers/Microsoft.Web/sites/uvcbroker</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://uvcbroker.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>uvcbroker.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>uvcbroker</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$uvcbroker</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>